.footer {
  background-color: #EDE1AC;
  color: #000000;
  padding: 2rem 1rem;
  width: 100%;
  font-family: 'Inter', sans-serif;
  border-top: 4px solid #d4c679;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 2rem;
}

.footer-section {
  flex: 1;
  min-width: 200px;
}

.footer-section.center {
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

.footer-section.right {
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

.footer p {
  font-size: 20px;
  font-weight: 400;
  margin: 0.5rem 0;
}

/* admin-knappen */
.admin-button {
  background-color: #BBDAE2;
  color: #000000;
  border: solid 2px #1e7085;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: transform 0.3s ease, background-color 0.3s ease;
  padding: 20px;
  text-align: center;
}

.admin-button:hover {
  background-color: #8ad0e2;
  transform: rotate(20deg) scale(1.1);
}

/* social ikoner */
.social-icons {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 0.5rem;
}

.social-icons a img {
  transition: transform 0.3s ease;
}

.social-icons a:hover img {
  transform: scale(1.2);
}

@media (max-width: 600px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-section.right {
    text-align: center;
  }

  .social-icons {
    justify-content: center;
  }
}
