
.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #ede1ac93;
  padding: 1.5rem 1rem;
  text-align: center;
  margin: 0px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  font-family: 'Indie Flower', cursive;
}

.header.not-sticky {
  position: static; /* inte sticky på produktsidan? */
}

.title {
  font-size: 5rem;
  margin: 0;
  color: #000000;
}

.nav {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1.7rem;
  flex-wrap: wrap;
  font-size: 25px;
  font-weight: 400;
}

.nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 0.8rem 2rem;
  border-radius: 8px;
  transition: background 0.2s ease, border-bottom 0.2s ease;
  border-bottom: 3px solid transparent;
}

.nav a:hover,
.nav a.active {
  border-bottom: 3px solid black;
}