* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #ede1ac93;
  padding: 1.5rem 1rem;
  text-align: center;
  margin: 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.title {
  font-size: 5rem;
  margin: 0;
  color: #000000;
}

.nav {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: background 0.2s ease, border-bottom 0.2s ease;
  border-bottom: 3px solid transparent;
}

.nav a:hover,
.nav a.active {
  border-bottom: 3px solid black;
}

/* Home section */
.home-container {
  position: relative;
  width: 100%;
  height: 100vh; 
  overflow: hidden;
}

.home-image {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  position: absolute;
  top: 0;
  left: 0;
}

.overlay-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ede1ac82;
  padding: 0rem;
  text-align: center;
  border-radius: 10px;
  width: 50%;
  height: 30%;
}

.produkt-knapp {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 1.5rem;
  background-color: #EDE1AC;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

/* section längre ner */
.small-images-container {
  display: flex;
  justify-content: space-around;
  padding: 2rem 1rem;
  margin-top: 5rem;
}

.small-image-box {
  position: relative;
  width: 45%;
}

.small-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.small-image-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 0.5rem;
  border-radius: 5px;
}